{% extends 'base.html' %}



{% block title %}
<title>All Blogs</title>
{% endblock title %}

{% block content %}
    {% include 'blog/partials/header.html' %}

    <div class="container py-6">
        <h1 class="title is-1">All Blogs</h1>

        <div class="tile is-ancestor">
            {% for blog in blogs %}
                <div class="tile is-parent is-4">
                    {% include 'blog/partials/blog-item.html' with blog=blog %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}